In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2022-10-02 02:09:22,72.7868,-56.1549,-6.33,85,14,2.12
1,1,Labytnangi,RU,2022-10-02 02:13:51,66.6572,66.4183,-0.03,90,100,3.58
2,2,Rio Gallegos,AR,2022-10-02 02:12:09,-51.6226,-69.2181,5.25,56,0,3.59
3,3,Touros,BR,2022-10-02 02:12:17,-5.1989,-35.4608,24.73,81,12,7.17
4,4,Busselton,AU,2022-10-02 02:13:52,-33.6500,115.3333,13.93,68,100,7.37
5,5,Coihaique,CL,2022-10-02 02:08:57,-45.5752,-72.0662,8.34,65,0,1.54
6,6,Iquitos,PE,2022-10-02 02:13:52,-3.7481,-73.2472,25.02,78,100,1.03
7,7,Georgetown,MY,2022-10-02 02:12:45,5.4112,100.3354,28.27,74,20,2.06
8,8,Hithadhoo,MV,2022-10-02 02:13:53,-0.6000,73.0833,27.41,70,45,6.49
9,9,Mana,GF,2022-10-02 02:13:53,5.6592,-53.7767,25.89,89,25,3.74

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap for percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap for percent cloudiness
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 22
What is the maximum temperature you would like for your trip? 32

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Touros,BR,2022-10-02 02:12:17,-5.1989,-35.4608,24.73,81,12,7.17
6,6,Iquitos,PE,2022-10-02 02:13:52,-3.7481,-73.2472,25.02,78,100,1.03
7,7,Georgetown,MY,2022-10-02 02:12:45,5.4112,100.3354,28.27,74,20,2.06
8,8,Hithadhoo,MV,2022-10-02 02:13:53,-0.6000,73.0833,27.41,70,45,6.49
9,9,Mana,GF,2022-10-02 02:13:53,5.6592,-53.7767,25.89,89,25,3.74
11,11,Cockburn Town,TC,2022-10-02 02:13:34,21.4612,-71.1419,28.28,78,93,7.31
13,13,Bajil,YE,2022-10-02 02:13:54,15.0584,43.2851,29.32,66,4,1.31
18,18,Ribeira Grande,PT,2022-10-02 02:13:55,38.5167,-28.7000,22.21,89,99,11.68
21,21,Riohacha,CO,2022-10-02 02:10:03,11.5444,-72.9072,26.21,82,92,0.50
25,25,Bhabua,IN,2022-10-02 02:13:57,25.0500,83.6167,27.08,69,2,0.68

In [11]:
preferred_cities_df.notnull().sum()

City_ID       200
City          200
Country       199
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3           Touros      BR     24.73  -5.1989  -35.4608
6          Iquitos      PE     25.02  -3.7481  -73.2472
7       Georgetown      MY     28.27   5.4112  100.3354
8        Hithadhoo      MV     27.41  -0.6000   73.0833
9             Mana      GF     25.89   5.6592  -53.7767
11   Cockburn Town      TC     28.28  21.4612  -71.1419
13           Bajil      YE     29.32  15.0584   43.2851
18  Ribeira Grande      PT     22.21  38.5167  -28.7000
21        Riohacha      CO     26.21  11.5444  -72.9072
25          Bhabua      IN     27.08  25.0500   83.6167

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Touros,BR,24.73,-5.1989,-35.4608,INN NEW HORIZON
6,Iquitos,PE,25.02,-3.7481,-73.2472,Cortez Malaga Techy Caroly
7,Georgetown,MY,28.27,5.4112,100.3354,Cititel Penang
8,Hithadhoo,MV,27.41,-0.6000,73.0833,Scoop Guest House
9,Mana,GF,25.89,5.6592,-53.7767,LE SAMANA
11,Cockburn Town,TC,28.28,21.4612,-71.1419,Osprey Beach Hotel
13,Bajil,YE,29.32,15.0584,43.2851,فندق حضرموت
18,Ribeira Grande,PT,22.21,38.5167,-28.7000,Quinta da Meia Eira
21,Riohacha,CO,26.21,11.5444,-72.9072,Hotel Taroa
25,Bhabua,IN,27.08,25.0500,83.6167,Kohinoor Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]