In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2022-10-02 02:09:22,72.7868,-56.1549,-6.33,85,14,2.12
1,1,Labytnangi,RU,2022-10-02 02:13:51,66.6572,66.4183,-0.03,90,100,3.58
2,2,Rio Gallegos,AR,2022-10-02 02:12:09,-51.6226,-69.2181,5.25,56,0,3.59
3,3,Touros,BR,2022-10-02 02:12:17,-5.1989,-35.4608,24.73,81,12,7.17
4,4,Busselton,AU,2022-10-02 02:13:52,-33.6500,115.3333,13.93,68,100,7.37
5,5,Coihaique,CL,2022-10-02 02:08:57,-45.5752,-72.0662,8.34,65,0,1.54
6,6,Iquitos,PE,2022-10-02 02:13:52,-3.7481,-73.2472,25.02,78,100,1.03
7,7,Georgetown,MY,2022-10-02 02:12:45,5.4112,100.3354,28.27,74,20,2.06
8,8,Hithadhoo,MV,2022-10-02 02:13:53,-0.6000,73.0833,27.41,70,45,6.49
9,9,Mana,GF,2022-10-02 02:13:53,5.6592,-53.7767,25.89,89,25,3.74

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap for percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap for percent cloudiness
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))